body,input,img,ol,ul,textarea,button {
	font-size: 12px;
	font-family: Helvetica Neue, Tahoma, Arial, "微软雅黑", "宋体", "黑体";
	color: #333;
	line-height: 1.5
}

body {
	margin: 0;
	padding: 0;
	background-attachment: fixed;
	-webkit-text-size-adjust: none
}

img {
	border: 0
}

ul,ol {
	margin: 0;
	padding: 0;
	list-style-type: none
}

a {
	text-decoration: none;
	color: #06c
}

a:hover {
	text-decoration: underline
}

a:focus {
	outline: none;
	-moz-outline: none
}

input,textarea {
	outline: none
}

.placeholder {
	color: #aaa
}

.imgbutton {
	width: 100%;
	height: 100%;
	border: 0;
	background: none;
	padding: 0;
	text-align: center;
	vertical-align: middle;
	outline: none
}

.overflowHidden {
	overflow: hidden;
	zoom: 1
}

.overflow_ellipsis {
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis
}

.WordBreak {
	word-wrap: break-word;
	word-break: break-word
}

.AllBreak {
	word-wrap: break-word;
	word-break: break-all
}

td {
	vertical-align: top
}

.Hand {
	cursor: pointer
}

.Pointer {
	cursor: pointer
}

.DefaultCursor {
	cursor: default !important
}

.InlineBlock {
	display: inline-block !important
}

.Block {
	display: block
}

.NoUnderline {
	text-decoration: none !important
}

.Underline {
	text-decoration: underline !important
}

.Absolute {
	position: absolute !important
}

.Relative {
	position: relative !important
}

.Fixed {
	position: fixed !important
}

.Left {
	float: left !important
}

.Right {
	float: right !important
}

.Clear {
	clear: both;
	visibility: hidden;
	border-top: 0;
	margin-top: -1px !important
}

.TxtLeft {
	text-align: left !important
}

.TxtCenter {
	text-align: center !important
}

.TxtRight {
	text-align: right !important
}

.TxtTop {
	vertical-align: top !important
}

.TxtTop img {
	vertical-align: top !important
}

.TxtMiddle {
	vertical-align: middle !important
}

.TxtBottom {
	vertical-align: bottom !important
}

.Border0 {
	border: 0 !important
}

.BorderBottom0 {
	border-bottom: 0 !important
}

.Border {
	border: 1px solid white !important
}

.BorderTop {
	border-top: 1px solid white !important
}

.BorderRight {
	border-right: 1px solid white !important
}

.BorderLeft {
	border-left: 1px solid white !important
}

.BorderBottom {
	border-bottom: 1px solid white !important
}

.BorderGrayColor {
	border-color: #ccc !important
}

.BorderGrayD {
	border: 1px solid #ddd
}

.BorderGray9 {
	border: 1px solid #999 !important
}

.BorderBottomGrayC {
	border-bottom-color: #ccc !important
}

.BorderBottomGrayD {
	border-bottom-color: #ddd !important
}

.liEnd,.itemEnd {
	border: 0 !important
}

.borderColor_ef {
	border-color: #efefef !important
}

.borderColor_c {
	border-color: #ccc !important
}

.Hidden {
	display: none
}

.Visibility {
	visibility: hidden
}

.active {
	font-weight: 700
}

.fixed {
	table-layout: fixed
}

.fixed td {
	word-break: break-all
}

.Arial {
	font-family: Arial !important
}

.Italic {
	font-style: italic
}

.Bold {
	font-weight: 700 !important
}

.Normal {
	font-weight: 400 !important
}

.Red {
	color: red !important
}

.Green {
	color: #739812
}

.DepGreen {
	color: Green
}

.White {
	color: #fff
}

.ShaYellow {
	color: #C3AF64 !important
}

.DisabledColor {
	color: #CAC8BB !important
}

.HighLightColor {
	background-color: #fc6
}

.DashedBG {
	background: url(../images/Bg_Dashed.gif) repeat-x left bottom
}

.GrayBG {
	background-color: #f5f5f5
}

.GrayBGF8 {
	background-color: #f8f8f8
}

.GrayBGFA {
	background-color: #fafafa
}

.BGFF5A00 {
	background-color: #ff5a00
}

.lastItem {
	background: none !important
}

.BlueBG {
	background-color: #06c
}

.ThemeBGColor3 {
	background-color: #06c !important
}

.Alpha9_6 {
	opacity: .96;
	-moz-opacity: .96;
	filter: alpha(opacity = 96)
}

.Alpha9 {
	opacity: .9;
	-moz-opacity: .9;
	filter: alpha(opacity = 90)
}

.Alpha8 {
	opacity: .8;
	-moz-opacity: .8;
	filter: alpha(opacity = 80)
}

.Alpha7 {
	opacity: .7;
	-moz-opacity: .7;
	filter: alpha(opacity = 70)
}

.Alpha6 {
	opacity: .6;
	-moz-opacity: .6;
	filter: alpha(opacity = 60)
}

.Alpha5 {
	opacity: .5;
	-moz-opacity: .5;
	filter: alpha(opacity = 50)
}

.Alpha4 {
	opacity: .4;
	-moz-opacity: .4;
	filter: alpha(opacity = 40)
}

.Alpha3 {
	opacity: .3;
	-moz-opacity: .3;
	filter: alpha(opacity = 30)
}

.Alpha2 {
	opacity: .2;
	-moz-opacity: .2;
	filter: alpha(opacity = 20)
}

.Alpha1 {
	opacity: .1;
	-moz-opacity: .1;
	filter: alpha(opacity = 10)
}

.mp0 {
	margin: 0 !important;
	padding: 0 !important
}

.mAll5 {
	margin: 5px !important
}

.mAll10 {
	margin: 10px !important
}

.mAll12 {
	margin: 12px !important
}

.mAll15 {
	margin: 15px !important
}

.mAll20 {
	margin: 20px !important
}

.mAll30 {
	margin: 30px !important
}

.mTop0 {
	margin-top: 0 !important
}

.mTop2 {
	margin-top: 2px !important
}

.mTop3 {
	margin-top: 3px !important
}

.mTop5 {
	margin-top: 5px !important
}

.mTop6 {
	margin-top: 6px !important
}

.mTop7 {
	margin-top: 7px !important
}

.mTop8 {
	margin-top: 8px !important
}

.mTop10 {
	margin-top: 10px !important
}

.mTop11 {
	margin-top: 11px !important
}

.mTop12 {
	margin-top: 12px !important
}

.mTop13 {
	margin-top: 13px !important
}

.mTop15 {
	margin-top: 15px !important
}

.mTop18 {
	margin-top: 18px !important
}

.mTop20 {
	margin-top: 20px !important
}

.mTop25 {
	margin-top: 25px !important
}

.mTop30 {
	margin-top: 30px !important
}

.mTop35 {
	margin-top: 35px !important
}

.mTop40 {
	margin-top: 40px !important
}

.mTop45 {
	margin-top: 45px !important
}

.mTop50 {
	margin-top: 50px !important
}

.mRight0 {
	margin-right: 0 !important
}

.mRight2 {
	margin-right: 2px !important
}

.mRight3 {
	margin-right: 3px !important
}

.mRight5 {
	margin-right: 5px !important
}

.mRight7 {
	margin-right: 7px !important
}

.mRight10 {
	margin-right: 10px !important
}

.mRight12 {
	margin-right: 12px !important
}

.mRight15 {
	margin-right: 15px !important
}

.mRight20 {
	margin-right: 20px !important
}

.mRight30 {
	margin-right: 30px !important
}

.mRight35 {
	margin-right: 35px !important
}

.mRight40 {
	margin-right: 40px !important
}

.mBottom3 {
	margin-bottom: 3px !important
}

.mBottom4 {
	margin-bottom: 4px !important
}

.mBottom5 {
	margin-bottom: 5px !important
}

.mBottom6 {
	margin-bottom: 6px !important
}

.mBottom10 {
	margin-bottom: 10px !important
}

.mBottom12 {
	margin-bottom: 12px !important
}

.mBottom15 {
	margin-bottom: 15px !important
}

.mBottom20 {
	margin-bottom: 20px !important
}

.mBottom30 {
	margin-bottom: 30px !important
}

.mLeft5 {
	margin-left: 5px !important
}

.mLeft10 {
	margin-left: 10px !important
}

.mLeft12 {
	margin-left: 12px !important
}

.mLeft15 {
	margin-left: 15px !important
}

.mLeft20 {
	margin-left: 20px !important
}

.mLeft25 {
	margin-left: 25px !important
}

.mLeft30 {
	margin-left: 30px !important
}

.mLeft35 {
	margin-left: 35px !important
}

.mLeft40 {
	margin-left: 40px !important
}

.mLeft48 {
	margin-left: 40px !important
}

.mLeft80 {
	margin-left: 80px !important
}

.pAll0 {
	padding: 0 !important
}

.pAll2 {
	padding: 2px !important
}

.pAll5 {
	padding: 5px !important
}

.pAll10 {
	padding: 10px !important
}

.pAll15 {
	padding: 15px !important
}

.pAll20 {
	padding: 20px !important
}

.pAll30 {
	padding: 30px !important
}

.pTop0 {
	padding-top: 0 !important
}

.pTop5 {
	padding-top: 5px !important
}

.pTop10 {
	padding-top: 10px !important
}

.pTop15 {
	padding-top: 15px !important
}

.pTop20 {
	padding-top: 20px !important
}

.pTop25 {
	padding-top: 25px !important
}

.pTop30 {
	padding-top: 30px !important
}

.pTop35 {
	padding-top: 35px !important
}

.pTop45 {
	padding-top: 45px !important
}

.pRight0 {
	padding-right: 0 !important
}

.pRight5 {
	padding-right: 5px !important
}

.pRight10 {
	padding-right: 10px !important
}

.pRight15 {
	padding-right: 15px !important
}

.pRight20 {
	padding-right: 20px !important
}

.pRight25 {
	padding-right: 25px !important
}

.pRight30 {
	padding-right: 30px !important
}

.pRight40 {
	padding-right: 40px !important
}

.pBottom2 {
	padding-bottom: 2px !important
}

.pBottom3 {
	padding-bottom: 3px !important
}

.pBottom5 {
	padding-bottom: 5px !important
}

.pBottom10 {
	padding-bottom: 10px !important
}

.pBottom15 {
	padding-bottom: 15px !important
}

.pBottom20 {
	padding-bottom: 20px !important
}

.pBottom30 {
	padding-bottom: 30px !important
}

.pBottom50 {
	padding-bottom: 50px !important
}

.pLeft0 {
	padding-left: 0 !important
}

.pLeft5 {
	padding-left: 5px !important
}

.pLeft7 {
	padding-left: 7px !important
}

.pLeft8 {
	padding-left: 8px !important
}

.pLeft9 {
	padding-left: 9px !important
}

.pLeft10 {
	padding-left: 10px !important
}

.pLeft12 {
	padding-left: 12px !important
}

.pLeft15 {
	padding-left: 15px !important
}

.pLeft20 {
	padding-left: 20px !important
}

.pLeft25 {
	padding-left: 25px !important
}

.pLeft30 {
	padding-left: 30px !important
}

.pLeft29 {
	padding-left: 29px !important
}

.pLeft35 {
	padding-left: 35px !important
}

.pLeft36 {
	padding-left: 36px !important
}

.pLeft40 {
	padding-left: 40px !important
}

.pLeft45 {
	padding-left: 45px !important
}

.pLeft50 {
	padding-left: 50px !important
}

.White24 {
	font-size: 24px;
	color: #fff
}

.Blue {
	color: #06c !important
}

.Blue14Bold {
	font-size: 14px;
	color: #06c !important;
	font-weight: 700
}

.Blue16 {
	font-size: 16px;
	color: #06c !important
}

.Blue16Bold {
	font-size: 16px;
	color: #06c !important;
	font-weight: 700
}

.Blue18 {
	font-size: 18px;
	color: #06c !important
}

.Blue20 {
	font-size: 20px;
	color: #06c !important
}

.Blue22 {
	font-size: 22px;
	color: #06c !important
}

.Blue24 {
	font-size: 24px;
	color: #06c !important
}

.Blue24Bold {
	font-size: 24px;
	font-weight: 700;
	color: #06c !important
}

.BlueBold {
	color: #06c !important;
	font-weight: 700
}

.Gray {
	color: #333 !important
}

.Gray14 {
	color: #333 !important;
	font-size: 14px
}

.Gray16 {
	color: #333 !important;
	font-size: 16px
}

.Gray_6 {
	color: #666 !important
}

.Gray_8 {
	color: #888 !important
}

.Gray_9 {
	color: #999 !important
}

.Gray_a {
	color: #aaa !important
}

.Gray_c {
	color: #ccc !important
}

.Gray_d {
	color: #eee !important
}

.Gray_df {
	color: #dfdfdf !important
}

.Gray_c6 {
	color: #c6c6c6 !important
}

.Bg_Gray_6 {
	background-color: #666 !important
}

.Black {
	color: #000 !important
}

.BlackBold {
	color: #000 !important;
	font-weight: 700
}

.Black14 {
	color: #000 !important;
	font-size: 14px
}

.Black16 {
	color: #000 !important;
	font-size: 16px
}

.Black18 {
	color: #000 !important;
	font-size: 18px
}

.Black18Bold {
	color: #000 !important;
	font-size: 18px;
	font-weight: 700
}

.Black20 {
	color: #000 !important;
	font-size: 20px
}

.Font10 {
	font-size: 10px !important;
	-webkit-text-size-adjust: none
}

.Font12 {
	font-size: 12px !important
}

.Font14 {
	font-size: 14px !important
}

.Font16 {
	font-size: 16px !important
}

.Font17 {
	font-size: 17px !important
}

.Font18 {
	font-size: 18px !important
}

.Font20 {
	font-size: 20px !important
}

.Font22 {
	font-size: 22px !important
}

.Font24 {
	font-size: 24px !important
}

.Font26 {
	font-size: 26px !important
}

.Font30 {
	font-size: 30px !important
}

.Font32 {
	font-size: 32px !important
}

.Font36 {
	font-size: 36px !important
}

.Font40 {
	font-size: 40px !important
}

.Font48 {
	font-size: 48px !important
}

.Font56 {
	font-size: 56px !important
}

.LineHeight15 {
	line-height: 15px !important
}

.LineHeight16 {
	line-height: 16px !important
}

.LineHeight20 {
	line-height: 20px !important
}

.LineHeight22 {
	line-height: 22px !important
}

.LineHeight24 {
	line-height: 24px !important
}

.LineHeight25 {
	line-height: 25px !important
}

.LineHeight26 {
	line-height: 26px !important
}

.LineHeight27 {
	line-height: 27px !important
}

.LineHeight28 {
	line-height: 28px !important
}

.LineHeight30 {
	line-height: 30px !important
}

.LineHeight35 {
	line-height: 35px !important
}

.LineHeight40 {
	line-height: 40px !important
}

.LineHeight50 {
	line-height: 50px !important
}







/* start framework */
.saaswrapper {
    width: 100%;
    margin: 0 auto;
    width: 1190px;
    padding-top: 41px;
}



/* end framework */




